header:
  productionDescription: > 
     <p> Insert a product description here.</p>
steps:  
  learnSteps:
    - title: Learn
      description: >
        Insert description here.
      link:
  buildSteps:
    - title: Build
      description: >
        Insert description here.
      link:
  validateSteps:
    - title: Validate
      description: >
        Insert description here.
      link:
  deploySteps:
    - title: deploy
      description: >
        Insert description here.
      link:
featuredFeatures:
  - title: Industry Standards
    description: >
      Insert description here.
  - title: REST APIs
    description: >
      Insert description here.
  - title: Functionality
    description: >
      Insert description here.
benefits:
  - title: Market Reach
    description: >
      Insert description here.
  - title: Simplified Integration.
    description: >
     Insert description here.
  - title: Co-Innovation
    description: >
      Insert description here.
featuredAPIs:
  - name: Charges
    description: Used to submit a charge transaction.
    type: POST
    route: /payments/v1/charges
    codeSample: '[json
                  {
                     "amount":{
                        "total":"12.04",
                        "currency":"USD"
                     },
                     "source":{
                        "sourceType":"PaymentCard",
                        "card":{
                           "cardData":"4005550000000019",
                           "expirationMonth":"02",
                           "expirationYear":"2035",
                           "securityCode":"123",
                           "securityCodeIndicator":"PROVIDED"
                        }
                     },
                     "transactionDetails":{
                        "captureFlag":true
                     }
                  }]'
    language: Curl
    link: link to API Explorer
  - name: Tokenization
    description: Transaction data is protected by a randomly-generated identifier known as a "token".
    type: POST
    route: /payments-vas/v1/tokens
    codeSample: '[json
                  {
                     "amount":{
                        "total":"1.00",
                        "currency":"USD"
                     },
                     "source":{
                        "sourceType":"PaymentCard",
                        "card":{
                           "cardData":"4005550000000019",
                           "expirationMonth":"02",
                           "expirationYear":"2035",
                           "securityCode":"123"
                        }
                     },
                     "transactionDetails":{
                        "captureFlag":false,
                        "createToken":true,
                        "tokenProvider":"RSA"
                     }
                  }]'
    language: Curl
    link: link to API Explorer 
  - name: Verifications
    description: Confirm account validity and provide notification.
    type: POST
    route: /payments-vas/v1/accounts/verification
    codeSample: '[json
                  {
                     "source":{
                        "sourceType":"PaymentCard",
                        "card":{
                           "cardData":"4005550000000019",
                           "expirationMonth":"02",
                           "expirationYear":"2035"
                        }
                     }
                  }]'
    language: Curl
    link: link to API Explorer  
  - name: Capture
    description: Capture pending authorization for settlement post authorization.
    type: POST
    route: /payments/v1/charges/{transactionId}/capture
    codeSample: '[json
                  {
                    "amount": {
                      "total": "12.04",
                      "currency": "USD"
                    },
                    "transactionDetails": {
                      "captureFlag": true
                    }
                  }]'
    language: Curl
    link: link to API Explorer   
useCases:
  - title: Title 1
    subtitle: Subtitle 1
    description: > 
      Insert description here.
  - title: Title 2
    subtitle: Subtitle 2
    description: > 
      Insert description here. 
